@font-face {
    font-family: rayo;
    src: url(/FUENTES/Kelvinized.ttf);
}

h1 {
    font-family: rayo;
    color:brown;
    background-color:rgb(255, 238, 0);
    margin-left: 10%;
    margin-right: 10%;
    border-radius: 30px;
}
#descripcion {
    text-shadow: rgb(53, 2, 2) 2px 1px 0px;
    font-weight:bold;
}
.parrafos {
    
    color: yellow;
    font-size: 15px;
    margin-top: 10px;
    
}


body {
background-image: url(/fotos/fonooo.webp);
background-size: cover;
background-position: cover;
}
*{margin: 0%;
    padding: 0%;
}
.cabecera {
    z-index: 2;
    background-color: brown;
    text-align: center;
    width: 100%;
    padding: 10px;
    margin-top: 0%;
}
a {
    color: red;
    text-decoration: none;
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-right: 5%;
}

nav .enlace{
    margin: 0 1em;
    text-decoration: none;
    color: white;
    font-weight: bold;
    position: relative;
    top: 150px;
    z-index: 1;
    left: 2%;
}

nav .enlace::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    background-color: white;
    left: 50%;
    bottom: -5px;
    transition: all 0.3s ease;
}

nav .enlace:hover::after {
    width: 100%;
    left: 0;
}

.enlace {
    width: 5%;
    flex-basis: 200px;
    background-color: #d9cbcb;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    cursor: pointer;
    margin-left: 3%;
    margin-top: 1%;
}


.publiIZQ {
margin-top: 85px;
float: left;
margin-bottom: 30px;
}

.publiDEH {
margin-top: 85px;
float: right;
margin-right: -58px;
margin-bottom: 30px;
}

.anuncio {
height: 236vh;
width: 78%;

}
.anunciodere {
    height: 236vh;
    width: 81%;
    
}

.contenedor1 {
    z-index: 1;
    position: absolute;
    top: 210px;
    left: 20%;
    background-color: #d9cbcb;
    border-radius: 10px;
    box-shadow: 0 0 35px  brown;
    padding: 1%;
    width: 25%;
}

.contenedor2 {
    
    position: absolute;
    top: 210px;
    left: 52%;
    background-color: #d9cbcb;
    border-radius: 10px;
    box-shadow: 0 0 35px  brown;
    padding: 1%;
    width: 25%;
}

.contenedor3 {
    
    position: absolute;
    top: 650px;
    left: 35%;
    background-color: #d9cbcb;
    border-radius: 10px;
    box-shadow: 0 0 35px  brown;
    padding: 1%;
    width: 25%;
}

.contenedor4 {
    
    position: absolute;
    top: 1500px;
    left: 20%;
    background-color: #d9cbcb;
    border-radius: 10px;
    box-shadow: 0 0 35px  brown;
    padding: 1%;
    width: 57%;
}


h2 {
    color:  brown;
    font-family: rayo;
}

.cuerpo {
    margin-top: 10px;
    text-align: justify;
    font-size: 15px;
    
}

.fotos {
    width: 300px;
    height: 200px;
    margin-top: 5%;
    margin-left: 10%;
    border-radius: 10px;
}

footer {
    background-color: brown;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    right: 0%;
    display: flex;
    align-items: center;
}

.letra{
    margin-left: 10px;
}

.numero{
    margin-left: 80%;
}

#video {
    width: 560px; 
    height: 315px;
    position: absolute;
    top: 1100px;
    left: 30%;
    border-radius: 50px;
}

.login {
    border: 1px solid black;
    width: 600px;
    height: 1580px;
    background: url(/fotos/Disney\ wallpaper.jpg);
    color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.75);
    background-size: cover;
    background-position: center;
    overflow: hidden;
    position: absolute;
    left: 30%;
    top: 150px;
    padding-bottom: 50px;
}

form {
    display: flex;
    box-sizing: border-box;
    padding: 40px;
    width: 100%;
    height: 100%;
    backdrop-filter: brightness(40%);
    flex-direction: column;
    gap: 5px;
    padding-bottom: 50px;
}

label{
    color: rgb(255, 255, 255, 0.8);
    text-transform: uppercase;
    font-size: 10px;
    letter-spacing: 2px;
    padding-left: 10px;
}

input, select {
    background: rgb(255, 255, 255, 0.3);
    height: 35px;
    line-height: 40px;
    border-radius: 20px;
    padding: 0 20px;
    border: none;
    margin-bottom: 10px;
    color: rgba(0, 0, 0, 0.405);
}

button {
    background: rgb(45, 126, 231);
    height: 30px;
    line-height: 35px;
    border-radius: 20px;
    border: none;
    margin: 10px 0px;
    color: white;
}

fieldset {
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 20px;
    margin: 20px 0;
    max-width: 400px;
    background-color:  opacity transparent;
    margin: auto;
    
    
}

legend {
    font-size: 18px;
    font-weight: bold;
    color:yellow;
}

.labelafi {
    font-size: 16px;
    color: yellow;
    display: block;
    margin-bottom: 5px;
}

.afi {
    margin-right: 10px;
    transform: scale(1.2);
}

.afitext {
    margin-top: 10px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 16px);
    box-sizing: border-box;
}
.afitext:hover {
    border: 2px solid yellow;
}

.parpadeo {
    color: red; /* Color del texto */
    font-weight: bold;
    font-size: 24px;
    animation: parpadeo 1s infinite; /* Animación infinita */
    font-family: rayo;
    text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
}

@keyframes parpadeo {
    0%, 100% {
        opacity: 1; /* Totalmente visible */
    }
    50% {
        opacity: 0; /* Invisible */
    }

}
    